
/*
Le damos estilos generales y quitamos algunas cosas por defecto
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/*
Aqui basicamente seleccionamos esta etiqueta para colocarle un fondo
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/img/nature.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #e9e5e5;
    text-shadow: 1px 1px #000;
    margin-right: 20px;
}

/*
Usamos esta pseudoclase para cambiar el color de la letra de la etiqueta h1
*/
h1:hover {
    color: green;
}

/*
Le damos estilos, tamaño a la caja
*/
.box-1 {
    width: 100%;
    background-color: rgba(170, 162, 162, 0.5);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding: 10px;
}

/*
Le damos ancho, alto y algo de diseño a la imagen
*/
.box-1 img {
    width: 40px;
    height: 40px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 30px;
    box-shadow: 1px 1px #000;
}

.navbar {
    display: flex;
    background-color: rgba(170, 162, 162, 0.5);
    justify-content: center;
    margin-bottom: 20px;
}

/*
Le damos flexibilidad a los ul y quitar estilo a los ul
*/
.navbar nav ul {
    display: flex;
    list-style: none;
}

.navbar nav ul li a {
    display: flex;
    text-decoration: none;
    margin-right: 30px;
    justify-content: center;
    width: 100%;
    color: #ffffff;
}

a:hover {
    background-color: darkgreen;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.footer-page {
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: lightcoral;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    flex: 1;
}

.section-table {
    border: 2px 2px solid #000;
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    height: 200px;
}

table, th, td {
    border: 1px solid;
    width: 50px;
}


.section-main {
    background-color: rgba(255, 255, 255, 0.05);
    margin: 30px auto;
    padding: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.section-main form,
.section-main table {
    max-width: 90vw;
    width: 100%;
}

.section-main .grid-item{
    color: #000;
}


@media (min-width: 768px) and (max-width: 1300px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 5vh;
    }
    .section-main {
        background-color: rgba(255, 255, 255, 0.05);
        margin: 30px auto;
        padding: 20px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar {
        display: flex;
    }

    .navbar ul li {
        border: 2px solid white;
        text-align: center;
    }

    ul {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 20px 0;
    }

    .box-1 {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100vw;
        margin: 20px 0;
    }
    .section-main {
        background-color: rgba(255, 255, 255, 0.05);
        margin: 30px auto;
        padding: 20px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
}

@media (min-width: 220px) and (max-width: 600px) {
    .navbar {
        display: flex;
    }

    .navbar ul li {
        border: 2px solid white;
        text-align: center;
    }

    ul {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 20px 0;
    }

    img {
        display: none;
    }

    .box-1 {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 20px 0;
    }
    .section-main {
        background-color: rgba(255, 255, 255, 0.05);
        margin: 30px auto;
        padding: 20px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
}
